body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table{
    border-collapse: collapse;
    border: 2px solid black;
    margin-bottom: 50px;
}

th{
    background-color: #dddddd;
    padding: 8px 20px;
}

.border-r{
    border-right: 1px solid #7676b4;
}

p{
    font-size: 18px;
}