body{

    color: #006400;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    margin: 0;
 }

header{
    max-width: 80%;
    min-width: 480px;
    margin-top: 15px;
    margin-left: 15px;
    border: 2px solid #80b280;
    padding: 15px;
}

.bckg-green{
    background-color: #90ee90;
}

.border-lgreen{
    border:2px solid #e3fae3;
}

label{
    display: inline-block;
}

input, button{
    color: #006400;
}

.width-150{
    width: 150px;
}

.height-22{
    height: 22px;
}

.mg-top-18{
    margin-top: 18px;
}

button{
    width: 100px;
    height: 28px;
    margin-left: 154px;
}
