
/* GRID */

body{
    display: grid;
    grid-template-areas:"header header header"
                        "nav main main"
                        "nav footer footer";
    gap: 10px;
}

header{
    grid-area: header;
    display: grid;
    grid-template-areas: "h1 h1 aside";
    gap: 10px;
}

header h1{
    background-color: #BBCCFF;
    grid-area: h1;
    margin: 0;
    align-content: center;
    padding-left: 20px;
    height: 50px;
    font-size: small;
}

header aside{
    background-color: #BBCCFF;
    grid-area: aside;
    align-content: center;
    padding-left: 20px;
    font-weight: bolder;
}


nav{
    background-color:  #BBCCFF;
    grid-area: nav;
    width: 300px;
    font-size:small;
}

nav h2{
    margin-left: 20px;
}

main{
    grid-area: main;
}

footer{
    background-color: #BBCCFF;
    grid-area: footer;
}

footer p{
    margin: 0;
    margin-left: 20px;
    height: 50px;
    align-content: center;
    font-weight: bold;
}

/* ARTICLE */

main{
    background-color:  #BBCCFF;
    display: flex;
    justify-content:end;
    position: relative;
}

.principal{
    max-width: 94%;
    margin-top: 80px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:end;
    margin-right: 2%;
}

.principal h2{
    position: absolute;
    margin: 0;
    margin-left: 20px;
    top: 20px;
    left: 0;
}

.principal section{
    background-color: aliceblue;
    width: 46%;
    margin: 5px;
}

.principal section h3, p{
    margin: 2%;
}