:root{
    --bckgColor: #333333;
    --greenGrid: #006401;
    --emptyBox: #000000;
    --addCell: #ffffff;
    --Col-1: #ff0000;
    --Col-1: #ffee00;
}

body{
    margin: 0px;
    padding:0px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#support{
    background-color: var(--bckgColor);
    display: flex;
    justify-content:start;
    align-items:center;
    flex-direction: column;
    padding: 24px 5px 5px 5px;
}

#grille{
    background-color: var(--greenGrid);
    border-radius: 8px;
}

td{
    background-color: var(--emptyBox);
    width: 106px;
    height: 106px;
    border-radius: 50%;
    font-size: 0px;
    cursor: pointer;
}

th{
    background-color:var(--addCell);
    width: 106px;
    height: 53px;
    border-radius: 5px;
    cursor: pointer;
}

th:hover{
    background-color: var(--selectCol);
}

h2{
    font-size: 36px;
    color: aliceblue;
    margin: 0px 0px 12px 0px;
}