
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Goldman:wght@400;700&family=Limelight&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Goldman:wght@400;700&family=Imperial+Script&family=Limelight&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url("./responsive.css");

*{
    margin: 0;
    padding: 0;
}

h2{
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-size: 2em;
}
h3{
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-size: 2em;
}
h4{
    font-family: 'Oswald-Bold', Arial, Helvetica, sans-serif;
    font-size: 1.75em; 
}
p{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 24px;
}

button{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    background-color: #5476db;
    width: 240px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 8px;
}
button:hover{
    cursor: pointer;
    background-color: black;
}

/* HEADER */

header{
    background-color: rgba(0, 0, 0, 0.80);
}
header .container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}
.logo img{
    width: 4em;
}
header .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    padding: 17px 0;
    text-transform: uppercase;
    font-family: 'Limelight',Arial, Helvetica, sans-serif;
}
header h1{
    font-size: 36px;
    color: white;
}
header li{
    list-style: none;
    display: inline-block;
    margin-left: 24px;
}
header a{
    text-decoration: none;
    font-family: 'Figtree', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: white;
    padding-bottom: 15px;
}
header a:hover{
    border-top: 5px solid transparent;
    border-bottom: 5px solid white;
}

/* BURGER MENU */

.burger-menu{
    display: none;
}

/* MENU-ICON */

.menu-icon{
    position: absolute;
    z-index: 99;
    display:none;
    top: 36px;
    right: 64px;
}

/* Accueil */

#Accueil{
    background-image: url("./images/65-ford-mustang-4k.jpg");
    background-size: cover;
    background-position: 86%;
}
#Accueil .container{
    height: 65vw;
    display: flex;
    justify-content: center;
    align-items: end;
}
#Accueil h2{
    font-family: 'Goldman',Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: white;
    text-shadow: 5px 5px 1px black;
    margin-bottom: 30px;
}

/* PRESENTATION */

#Presentation{
    background-color: #333333;
}
#Presentation .container{
    height: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Presentation .background-img{
    position: relative;
    background-image: url("./images/background-presentation.jpg");
    background-position: 35%;
    background-size: cover;
    width: 74%;
    min-width: 555px;
    max-width: 960px;
    height: 60%;
    /* border: 2px solid white; */
}
#Presentation .presentation-img{
    position: absolute;
    top: 330px;
    left: -100px;
    background-image: url("./images/presentation.jpg");
    background-size: cover;
    width: 260px;
    height: 60%;
    border: 2px solid white;
}
#Presentation .text-area{
    position: absolute;
    background-color:rgba(244, 244, 244, 0.8);
    top: -100px;
    right: -100px;
    text-align: center;
    width: 380px;
    /* height: 100%; */
    border: 2px solid white;
    color: rgb(0, 0, 0);
    padding: 20px;
}
#Presentation h2{
    font-family: 'Oswald',Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-align: center;
}
#Presentation p{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-top: 50px;
    margin-bottom: 80px;
}

/* SERVICES */

section.services{
    background-color: #8d9595;
}

section.services div.container{
    padding: 100px 0;
    display: flex;
    justify-content: center;
}

section.services h2.item-a{
    height: 100px;
    text-align: center;
    align-content: center;
    background-color: rgba(244, 244, 244, 0.8);
    grid-column: 1/-1;
}

div.services-items{
    background-color: rgba(244, 244, 244, 0.8);
}

section.services div.grid-services{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 25vw);
}

.services-items{
    padding: 25px;
}

.services-icons{
    width: 101px;
}

#services h3{
    margin-top: 0;
}

/* CERTIFICATION */

section.certification{
    background-image: url("./images/backgroundcarrousel.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

section.certification div.container{
    height: 950px;
    display: flex;
    justify-content: space-around;
    align-items: end;
    padding-bottom: 100px;
}

section.certification .certification{
    text-align: center;
    width: 380px;
    height: 320px;
    border: 2px solid white;
    background-color:rgba(244, 244, 244, 0.8);
    color: rgb(0, 0, 0);
    padding: 20px;
}

section.certification div.certification{
    background-color: blue;
    width: 500px;
    height: 400px;
    margin-bottom: 280px;
}

article.certification h2{
    margin: 20px auto 20px;
    text-align: start;
}

article.certification p{
    margin-bottom: 60px;
    text-align: justify;
}

/* QUESTIONS */

#faq .container{
    display: flex;
    justify-content: center;
}

.questions{
    width: 80%;
    max-width: 1440px;
    min-width: 380px;
}

#faq h2{
    text-align: center;
}

#faq p{
    text-align: center;
}

.question-area{
    background-color: aqua;
    padding: 0 10px;
}

.common-questions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
}

.common-questions p{
    font-size: 40px;
    font-weight: bold;
}

.answers{
    background-color: red;
}

/* CONTACT */

section.contact div.container{
    display: flex;
    justify-content: center;
}

section.contact div.contact{
    margin: 100px auto;
}

form *{
    display: block;
}

/* MAP */

section.map div.container{
    display: flex;
    justify-content: center;
}

section.map div.map{
    background-color: blueviolet;
    margin: 100px auto;
    width: 80vw;
    height: 30vh;
}

/* FOOTER */

footer{
    background-color: #8d8171;
}

footer div.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer div.container div.logo{
    display: flex;
}

footer .logo{
    font-family: 'Limelight',Arial, Helvetica, sans-serif;
    font-size: 24px;
    height: 100px;
    align-content: center;
}

@media screen and(min-width:768px) {
    
}
