<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!--<script src="https://www.unpkg.com/vue@3.5.13/dist/vue.global.js"></script>-->
    <script type="module" src="./script.js"></script>
    <title>Course à pied Vue JS</title>
</head>
<body>
    <header>
        <div id="app">
            <h1>Résultat de la course</h1>
            <div id="result">
                <p id="nb-participants"> {{ nbParticipants() }} participants</p>
                <p id="winner">Gagnant : {{ winner() }}</p>
                <p id="time-avg">Temps moyen : {{ avgTime() }}</p>
            </div>
            <h3>Filtrer</h3>
            <form>
                <div v-for="country in participantsCountries" :key="country" class="select-country">
                    <input type="checkbox" :value="country" :id="'country-' + country" class="checkbox" v-model="selectedCountries">
                    <label for="'country-' + country">{{ country }}</label>
                </div>
            </form>
            <table>
                <thead id="title-thead">
                    <tr>
                        <th>Pays</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Temps final</th>
                        <th>Ecart gagnant</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="participant of selectedParticipants()">
                        <td>{{ participant.pays }}</td>
                        <td>{{ participant.lastname }}</td>
                        <td>{{ participant.firstname }}</td>
                        <td>{{ participant.finalTime }}</td>
                        <td>{{ participant.gapTime }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </header>
    <main></main>
    <footer></footer>
</body>
</html>