
#concept .container{
    background-color: #26C1DC;
    display: flex;
    margin: 0 auto;
    justify-content:space-between;
    align-items: center;
}

#concept .text-area{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 903px;
    margin: 0 auto;
    max-width: 723px;
    padding: 0 55px;
}

#concept h2,#concept p, #concept h3{
    font-family: 'Karantina', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: white;
}

#concept h2{
    font-size: 2.5em;
    font-weight: 400;
    text-align: end;
    margin-bottom: 20px;
    margin-top: 80px;
}

#concept p{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 0.938em;
    font-weight: 400;
    text-align: end;
    text-transform:lowercase;
    margin-bottom: 40px;
}

#concept h3{
    font-size: 1.875em;
    font-weight: 400;
    text-align: center;
    margin-top: 80px;
}

#concept .center-icon{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: auto;
}

#concept .concept-img{
    width: 607px;
    height: 903px;
}