/* SECTION ABOUT */

#about .wrapper{
    flex-direction: column;
    align-items: center;
}

#about .container-1{
    position: relative;
    width: 1424px;
    height: 752px;
    display: flex;
    align-items: center;
}

#carrousel{
    position: absolute;
    left: 0px;
    width: 657px;
    height: 552px;
    padding: 20px;
    background-color: #ecf0fb;
}

#us{
    position: absolute;
    right: 0px;
    width: 657px;
    height: 552px;
    padding: 20px;
    background-color:yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#about .container-2{
    position: relative;
    width: 1424px;
    height: 1580px;
}

.container-2 img{
    position: absolute;
}

.container-2 img:first-child{
    top: 352px;
    left: 0px;
    width: 1130px;
}

.container-2 img:nth-child(2){
    top: 90px;
    left: 698px;
    width: 620px;
    border: 10px solid white;
}

#preventive{
    position: absolute;
    left: 664px;
    top: 934px;
    background-color: #ecf0fb;
    width: 672px;
    height: 472px;
    padding: 44px;
}

#preventive p{
    margin: 22px 0;
}

#preventive a button{
    margin: 22px 0;
}

@media only screen and (max-width:1920px) {
    #about .container-1{
        width: 996px;
        height: 526.4px;
    }
    #carrousel{
        width: 460px;
        height: 386.4px;
        padding: 14px;
    }
    #us{
        width: 460px;
        height: 386.4px;
        padding: 14px;
    }
    #about .container-2{
        width: 996px;
        height: 1106px;
    }
    .container-2 img:first-child{
        top: 246.4px;
        width: 791px;
    }
    .container-2 img:nth-child(2){
        top: 63px;
        left: 488.6px;
        width: 434px;
    }
    #preventive{
        left: 464.8px;
        top: 653.8px;
        width: 470.4px;
        height: 330.4px;
        padding: 30.8px;
    }
    #preventive p{
        margin: 15.4px 0;
    }
    #preventive a button{
        margin: 15.4px 0;
    }
}

@media only screen and (max-width:1280px) {
    #about .container-1{
        width: 597.6px;
        height: 315.84px;
    }
    #carrousel{
        width: 276px;
        height: 231.84px;
        padding: 8.4px;
    }
    #us{
        width: 276px;
        height: 231.84px;
        padding: 8.4px;
    }
    #about .container-2{
        width: 597.6px;
        height: 663.6px;
    }
    .container-2 img:first-child{
        top: 158.64px;
        width: 474.6px;
    }
    .container-2 img:nth-child(2){
        top: 37.8px;
        left: 293.16px;
        width: 260.4px;
    }
    #preventive{
        left: 278.88px;
        top: 392.28px;
        width: 282.24px;
        height: 198.24px;
        padding: 18.48px;
    }
    #preventive p{
        margin: 9.24px 0;
    }
    #preventive a button{
        margin: 9.24px 0;
    }
}