/* SECTION ABOUT */

#about .wrapper{
    flex-direction: column;
    align-items: center;
}

#about .container-1{
    position: relative;
    width: 1424px;
    height: 752px;
    display: flex;
    align-items: center;
}

#carrousel{
    position: absolute;
    left: 0px;
    width: 657px;
    height: 552px;
    padding: 20px;
    background-color: #ecf0fb;
}

#us{
    position: absolute;
    right: 0px;
    width: 657px;
    height: 552px;
    padding: 20px;
    background-color:yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#about .container-2{
    position: relative;
    width: 1424px;
    height: 1580px;
}

.container-2 img{
    position: absolute;
}

.container-2 img:first-child{
    bottom: 475px;
    left: 0px;
    width: 1130px;
}

.container-2 img:nth-child(2){
    top: 90px;
    right: 86px;
    width: 620px;
    border: 10px solid white;
}

#preventive{
    position: absolute;
    right: 0px;
    bottom: 86px;
    background-color: #ecf0fb;
    width: 672px;
    height: 472px;
    padding: 44px;
}

#preventive p{
    margin: 22px 0;
}

#preventive a button{
    margin: 22px 0;
}