/* SECTION ABOUT */

#about .wrapper{
    flex-direction: column;
    align-items: center;
}

#about .container-1{
    position: relative;
    width: 1520px;
    height: 810px;
}

#carrousel{
    position: absolute;
    left: 0px;
    margin: 90px 0px;
    width: 740px;
    height: 630px;
    background-color: #ecf0fb;
}

#us{
    position: absolute;
    right: 0px;
    margin: 90px 0px;
    padding: 44px;
    width: 652px;
    height: 542px;
    background-color:yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#us h2{
    margin-bottom: 0px;
}

#us p{
    text-align: center;
}

#about .container-2{
    position: relative;
    width: 1520px;
    height: 1580px;
}

.container-2 img{
    position: absolute;
}

.container-2 img:first-child{
    bottom: 475px;
    left: 0px;
    width: 1130px;
}

.container-2 img:nth-child(2){
    top: 90px;
    right: 86px;
    width: 620px;
    border: 10px solid white;
}

#preventive{
    position: absolute;
    right: 0px;
    bottom: 86px;
    background-color: #ecf0fb;
    width: 722px;
    height: 512px;
    padding: 44px;
}