#contact{
    height: 800px;
}

.container-contact{
    width: 1424px;
    display: flex;
    justify-content: space-evenly;
}

form{
    display: flex;
    flex-direction: column;
    font-size: 2em;
}