#expertises{
    background-color: #ecf0fb;
}

.grid-expertises{
    display: grid;
    grid-template-columns: repeat(3, 458px);
    grid-template-rows: 1fr repeat(2, 495px);
    gap: 25px;
    margin: 80px 0 128px;
}

#expertises #item-a{
    margin: 0;
    grid-column: 1/-1;
    text-align: center;
}

#expertises h2{
    margin: 0;
}

#expertises p{
    width: 845px;
    justify-self: center;
}

.grid-expertises .expertises-items{
    padding: 0;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: end;
}

.grid-expertises h4{
    margin:0;
    width: 100%;
    height: 96px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-expertises #item-b{
    background-image: url("../assets/img/car-repair-maintenance-theme-mec1.jpg");
}

.grid-expertises #item-c{
    background-image: url("../assets/img/male-mechanic-working-shop-car_2.jpg");
}

.grid-expertises #item-d{
    background-image: url("../assets/img/low-angle-woman-replacing-car-wh.jpg");
}

.grid-expertises #item-e{
    background-image: url("../assets/img/modern-automobile-mechanic-compo.jpg");
}

.grid-expertises #item-f{
    background-image: url("../assets/img/focused-photo-man-blue-uniform-w1.jpg");
}

.grid-expertises #item-g{
    background-image: url("../assets/img/top-view-woman-repairing-car_23.jpg");
}

@media only screen and (max-width:1920px) {

    .grid-expertises{
        grid-template-columns: repeat(3, 320.6px);
        grid-template-rows: 1fr repeat(2, 346.5px);
        gap: 17.5px;
        margin: 56px 0 89.6px;
    }
    #expertises p{
        width: 591.5px;
    }
    .grid-expertises h4{
        height: 62.7px;
    }
}

@media only screen and (max-width:1280px) {

    .grid-expertises{
        grid-template-columns: repeat(3, 192.36px);
        grid-template-rows: 1fr repeat(2, 207.9px);
        gap: 10.5px;
        margin: 33.6px 0 53.76px;
    }
    #expertises p{
        width: 354.9px;
    }
    .grid-expertises h4{
        height: 37.62px;
    }
}