/* GENERAL */

@font-face {
    font-family: 'Goldman-Bold';
    src: url("../assets/fonts/Goldman-Bold.ttf") format(truetype);
}

@font-face {
    font-family: 'Oswald-Bold';
    src: url("../assets/fonts/Oswald-Bold.ttf") format(truetype);
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url("../assets/fonts/OpenSans-Regular.ttf") format(truetype);
}

@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url("../assets/fonts/RobotoCondensed-Regular.ttf") format(truetype);
}

@font-face {
    font-family: 'Figtree-VariableFont_wght';
    src: url("../assets/fonts/Figtree-VariableFont_wght.ttf") format(truetype);
}

*{
    margin: 0;
    padding: 0;
    h1{
        font-family: 'Goldman-Bold', Arial, Helvetica, sans-serif;
        font-size: 1.38em;
        color: black;
    }
    h2{
        font-family: 'Oswald-Bold', Arial, Helvetica, sans-serif;
        font-size: 4em;
    }
    h3{
        font-family: 'Oswald-Bold', Arial, Helvetica, sans-serif;
        font-size: 2em;
    }
    h4{
        font-family: 'Oswald-Bold', Arial, Helvetica, sans-serif;
        font-size: 1.75em; 
    }
    p{
        font-family: 'OpenSans-Regular', Arial, Helvetica, sans-serif;
        font-size: 1.5em;
        line-height: 2em;
    }
    button{
        font-family: 'RobotoCondensed-Regular', Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        background-color: #5476db;
        width: 355px;
        height: 85px;
        font-size: 1.13em;
        font-weight: bold;
        color: white;
        border: none;
    }
    button:hover{
        cursor: pointer;
        background-color: black;
    }
}

.wrapper{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 200px;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width:1920px) {
    *{
        h2{
            font-size: 2.8em;
        }
        h3{
            font-size: 1.4em;
        }
        h4{
            font-size: 1.22em; 
        }
        p{
            font-size: 1.05em;
            /* line-height: 1.4em; */
        }
    }
    button{
        width: 248px;
        height: 59px;
        font-size: 0.8em;
    }
    .wrapper{
        padding: 0 140px;
    }
}

@media only screen and (max-width:1280px) {
    *{
        h1{
            font-size: 0.9em;
        }
        h2{
            font-size: 2em;
        }
        h3{
            font-size: 1em;
        }
        h4{
            font-size: 0.8em; 
        }
        p{
            font-size: 0.7em;
            /* line-height: 1.4em; */
        }
    }
    button{
        width: 148.8px;
        height: 35.4px;
    }
    .wrapper{
        padding: 0 84px;
    }
}