/* HEADER */

header{
    z-index: 100;
    position: sticky;
    /* top: 0; on scroll up*/
    background-color: white;
}

nav{
    width: 1424px;
    display: flex;
    justify-content: space-between;
}

.brand{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo{
    width: 140px;
}

#menu{
    display: flex;
    margin: 0;
    padding: 0;
}

#menu li{
    margin-left: 40px;
    list-style: none;
    display: flex;
    align-items: center;
}

#menu a{
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color:black
}

#menu a:hover{
    border-top: 2px solid transparent;
    color: #5476db;
    border-bottom: 2px solid #5476db;
}

@media only screen and (max-width:1920px){
    nav{
        width: 996px;
    } 
}

@media only screen and (max-width:1280px) {
    
    nav{
        width: 597.6px;
    }
    .logo{
        width: 84px;
    }
    #menu li{
        margin-left: 24px;
    }
    
    #menu a{
        font-size: 14px;
    }
    
    #menu a:hover{
        border-top: 1px solid transparent;
        border-bottom: 1px solid #5476db;
    }
}