/* SECTION HOME */

#home{
    background-color: #ecf0fb;
}

#home .container{
    position: relative;
    width: 1424px;
    height: 1500px;
}

#certification{
    position: absolute;
    left: 636px;
    top: 660px;
    background-color: white;
    width: 622px;
    height: 542px;
    padding: 44px;
}

#certification h2{
    margin-top: 60px;
}

#certification p{
    margin: 50px 0;
}

#home img{
    position: absolute;
    top: 204px;
    left: 79px;
    width: 1266px;
}

#rect-1{
    position: absolute;
    left: 794px;
    top: 122px;
    background-color: #b5c4f1;
    width: 630px;
    height: 850px;
}

#rect-2{
    position: absolute;
    left: 0px;
    top: 600px;
    background-color: #b5c4f1;
    width: 564px;
    height: 526px;
}

@media only screen and (max-width:1920px){
    #home .container{
        width: 996px;
        height: 1050px;
    }
    #certification{
        left: 445px;
        top: 462px;
        width: 435.4px;
        height: 379.4px;
        padding: 30.8px;
    }
    #certification h2{
        margin-top: 42px;
    }
    #certification p{
        margin: 35px 0;
    }
    #home img{
        position: absolute;
        top: 142.8px;
        left: 55.3px;
        width: 886.2px;
    }
    #rect-1{
        position: absolute;
        left: 555.8px;
        top: 85.4px;
        background-color: #b5c4f1;
        width: 441px;
        height: 595px;
    }
    
    #rect-2{
        position: absolute;
        left: 0px;
        top: 420px;
        background-color: #b5c4f1;
        width: 394.8px;
        height: 368.2px;
    }
}

@media only screen and (max-width:1280px) {
    #home .container{
        width: 597.6px;
        height: 630px;
    }
    #certification{
        left: 267px;
        top: 277.2px;
        width: 261.24px;
        height: 227.64px;
        padding: 18.48px;
    }
    #certification h2{
        margin-top: 25.2px;
    }
    #certification p{
        margin: 21px 0;
    }
    #home img{
        top: 85.68px;
        left: 33.18px;
        width: 531.72px;
    }
    #rect-1{
        left: 333.48px;
        top: 51.24px;
        width: 264.6px;
        height: 357px;
    }
    
    #rect-2{
        top: 252px;
        width: 236.88px;
        height: 220.92px;
    }
}