/* SECTION HOME */

#home{
    background-color: #ecf0fb;
}



#home .container{
    position: relative;
    width: 1520px;
    height: 1500px;
}

#certification{
    position: absolute;
    left: 676px;
    top: 700px;
    background-color: white;
    width: 672px;
    height: 582px;
    padding: 44px;
}

#certification h2{
    margin-top: 60px;
}

#certification p{
    margin: 80px 0;
    line-height: 200%;
}

#home img{
    position: absolute;
    top: 216px;
    left: 86px;
    width: 1350px;
}

#rect-1{
    position: absolute;
    left:890px;
    top: 122px;
    background-color: #b5c4f1;
    width: 630px;
    height: 850px;
}

#rect-2{
    position: absolute;
    left: 0px;
    top: 638px;
    background-color: #b5c4f1;
    width: 605px;
    height: 565px;
}