/* SECTION HOME */

#home{
    background-color: #ecf0fb;
}



#home .container{
    position: relative;
    width: 1424px;
    height: 1500px;
}

#certification{
    position: absolute;
    right: 78px;
    top: 660px;;
    background-color: white;
    width: 622px;
    height: 542px;
    padding: 44px;
}

#certification h2{
    margin-top: 60px;
}

#certification p{
    margin: 50px 0;
    line-height: 200%;
}

#home img{
    position: absolute;
    top: 204px;
    right: 78px;
    width: 1266px;
}

#rect-1{
    position: absolute;
    right: 0px;
    top: 122px;
    background-color: #b5c4f1;
    width: 630px;
    height: 850px;
}

#rect-2{
    position: absolute;
    left: 0px;
    top: 600px;
    background-color: #b5c4f1;
    width: 564px;
    height: 526px;
}