/* GENERAL */

*{
    margin: 0;
    padding: 0;
}

/* HEADER */

header{
    background-color: #0F4D8F;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size:4rem;
    font-weight: bolder;
    color: white;
}

/* MAIN */

main{
    display: flex;
    justify-content: center;
    background-color: #0F4D8F;
}

.border{
    width: 920px;
    height: 460px;
    margin: 30px;
    display: flex;
    justify-content: center;
    border: 8px solid rgb(255, 255, 255);
    border-radius: 40px;
}

img{
    background-color: transparent;
    margin: 40px;
}

/* FOOTER */

footer{
    background-color: #0F4D8F;
    height: 100px;
}